body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/static/pic1.png");
    background-size: cover;       
    background-repeat: no-repeat; 
    background-position: center;
    text-align:center;
    padding: 20px;
}

