<html>
<head>
    <meta charset="UTF-8">
    <title>
        Personal expense tracker
    </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body>
<form method="POST", action="/basic">
    <h1>welcom to personal expense tracker</h1><br><br>
    <label><b>User name</b></label>
    <input type="text" name="username" required><br><br><br>
    <label><b>Password</b></label>
    <input type="password" name="password" required><br><br>
    <button type="submit">Sign in</button><br><br>
    <p><b>Don't have a account?<b></b><a href="{{url_for('signup')}}">Create account</a></p>
</form>
</body>
</head>
</html>